<form [formGroup]="passwordForm">

  <h3>Url</h3>
  <mat-form-field class="full" appearance="outline" hideRequiredMarker="true">
    <input matInput type="text" formControlName="url" autofocus>
  </mat-form-field>
  <div class="wrapper">
    <div class="stack">
    <h3>Name</h3>
    <mat-form-field appearance="outline" hideRequiredMarker="true">
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    </div>
    <div class="stack">
      <h3>Category</h3>
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <input matInput type="text" formControlName="category">
      </mat-form-field>
      </div>
    </div>
  <div class="wrapper">
    <div class="stack">
      <h3>Username</h3>
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <input matInput type="text" formControlName="username">
      </mat-form-field>
      </div>
    <div class="stack">
      <h3>Password</h3>
      <mat-form-field appearance="outline" hideRequiredMarker="true">
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
  </div>
  <h3>Notes</h3>
  <mat-form-field class="full" appearance="outline" hideRequiredMarker="true">
    <input matInput type="text" formControlName="notes">
  </mat-form-field>

  <button mat-flat-button class="primary" type="submit" (click)="update()">Update</button>

  <p #success id="success" class="green hidden">Site updated</p>
</form>
