<div>
  <ul>
    <li>
      <a routerLink="/passwords">
        <div class="box">
          <mat-icon>key</mat-icon>
        </div>
        <div class="box">
        Passwords
        </div>
      </a>
    </li>

    <li>
      <a routerLink="/notifications">
        <div class="box">
          <mat-icon>notifications</mat-icon>
        </div>
        <div class="box">
        Notifications
        </div>
      </a>
    </li>

    <li>
      <a routerLink="/personal-info">
        <div class="box">
          <mat-icon>person</mat-icon>
        </div>
        <div class="box">
        Personal Info
        </div>
      </a>
    </li>

    <li>
      <a routerLink="/payments">
        <div class="box">
          <mat-icon>credit_card</mat-icon>
        </div>
        <div class="box">
        Payments
        </div>
      </a>
    </li>

    <li>
      <a routerLink="/settings">
        <div class="box">
          <mat-icon>settings</mat-icon>
        </div>
        <div class="box">
        Settings
        </div>
      </a>
    </li>

  </ul>
</div>
