<div id="wrapper">
  <div class="child first">
    <div class="inner">
      <p class="center"><mat-icon>lock</mat-icon></p>
      <p class="headline1">Simple sign-in,</p>
      <p class="headline2">safe passwords</p>
      <div class="features">
        <p><mat-icon class="green">check</mat-icon>Log in securely and with ease</p>
        <p><mat-icon class="green">check</mat-icon>Generate and save strong passwords</p>
        <p><mat-icon class="green">check</mat-icon>Securely share passwords with co-workers</p>
      </div>

      <div class="buttons">
        <button mat-flat-button class="primary">Business</button>
        <button mat-flat-button class="white">Personal</button>
      </div>
    </div>
  </div>
  <div class="child second">

  <div id="frame">
    <img src="assets/home.svg" />
    <img id="fake-form" src="assets/fake-form.png" />
  </div>

  </div>
</div>
